{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Formulariu Despaxu</h2>
            </div>
        </header>
          <!-- Breadcrumb-->
        <div class="breadcrumb-holder container-fluid d-flex justify-content-between">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Varanda</a>
              </li>
              <li class="breadcrumb-item active">Formulariu Despaxu => 
                <b style="font-size: 1.2rem">{{doc_inter.subject}}</b>
              </li>
            </ul>
            <button class="btn btn-outline-info btn-sm mr-2 mt-3 h6" style="height: 30px;color: blue;font-size: 0.7rem" onclick=self.history.back()>
              <span class="fa fa-angle-left"></span> Back</button>
        </div>
<section class="tables">   
    <div class="container-fluid">
            {% if messages %}
                        {% for message in messages %} 
                            <div id="divmessage" class="alert alert-{{ message.tags }} alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                              {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
    <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <!-- <h2 class="text-center"><p>Formulariu Altera Password</p></h2> -->
                  <!-- <div class="card-text mb-4 bg-danger text-center p-2">
                      <p style="color: #cee4d6">Formulario Despaxu ida ne'e so bele asesu husi Prezidente! </p>   
                    </div> -->
          <form method="post" novalidate>
            {% csrf_token %}
            <table class="table table-hover">
              <tr>
                        <td width="30%"><label>Nu. Karta : </label></td>
                        <td>{{doc_inter.doc_number}}</td>
                      </tr>
                    <tr>
                        <td><label>Assuntu Karta : </label></td>
                        <td>{{doc_inter.subject}}</td>
                      </tr>
                      <tr>
                        <td><label>Data : </label></td>
                        <td>{{doc_inter.date_created}}</td>
                      </tr>
                    <!--   <tr>
                        <td><label>Ba Diresaun : </label></td>
                        <td>{{doc_inter.destinu}}</td>
                      </tr> -->
                      <tr>
                        <td><label>Kategoria : </label></td>
                        <td>{{doc_inter.category}}</td>
                      </tr>
                      <tr>
                        <td><label>Deskrisaun : </label></td>
                        <td><textarea class="form-control" type="text" name="despacho" required placeholder="Hakerek Deskrisaun..."></textarea></td>
                      </tr>
<!--                       <tr>
                        <td><label>Despaxu ba Diresaun : </label></td>
                        <td><select name="diresaun" class="form-control custom-select">
                          <option value="">---Select Diresaun---</option>
                          {% for i in diresaun %}
                          <option value="{{i.id}}">{{i.diresaun}}</option>
                          {% endfor %}
                        </select></td>
                    </tr> -->
            </table>
            <br>
            <div class="form-group text-right">
              <input type="submit" name="submit" value="Update Despacho" class="btn btn-sm btn-danger">
              <button class="btn btn-sm btn-warning" onclick=self.history.back()>
                <span class="fa fa-angle-left"></span> Cancel
              </button>
              
            </div>
          </form>
        </div>
         </div>
      </div>
    </div>
  </div>
</section>
{% endblock  %}