{% extends 'main/base.html' %}
{% load static %}

{% block content %}
		<header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Tabela</h2>
            </div>
        </header>
          <!-- Breadcrumb-->
        <div class="breadcrumb-holder container-fluid d-flex justify-content-between">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Varanda</a></li>
              <li class="breadcrumb-item"><a href="{% url 'documents-list' %}">Lista Karta Tama</a></li>
              <li class="breadcrumb-item active">Karta Tama</li>
            </ul>
            <button class="btn btn-outline-info btn-sm mr-2 mt-3 h6" style="height: 30px;color: blue;font-size: 0.7rem" onclick=self.history.back()><span class="fa fa-angle-left"></span> Back</button>
        </div>
<section class="tables"> 
<div class="container-fluid">
                    {% if messages %}
                        {% for message in messages %} 
                            <div id="divmessage" class="alert alert-{{ message.tags }} alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                              {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
<div class="row">
<div class="col-sm-10">
	<div class="card">
		<div class="card-header d-flex justify-content-between">
			<h4>Detallu Karta Tama<i><u class="text-light bg-danger m-2 p-1">{{dokumentu.doc_number}}</u></i></h4>
      {% if request.user.is_secretary %}
      <!-- Karik dokumentu seidauk forward ba prezidente entaun send ba prezidente -->
      {% if not dokumentu.forward_to_president %}
      <a href="{% url 'kt_send_to_pre' dokumentu.hashed %}">Send to Pre</a>
      {% endif %}
      {% endif %}
      {% if request.user.is_prezidente %}
      <!-- Karik dokumentu nee null ka mamuk hela entaun prezidente halo despaixu -->
      {% if dokumentu.president_despacho is null %}
      <a href="{% url 'pre_halo_despacho' dokumentu.hashed %}">Halo Despacho</a>
      {% endif %}
      {% endif %}
      {% if request.user.is_prezidente %}
      <!-- Karik dokumentu ne'e la null ona ka halo ona despaixu entaun haruka ba vogal -->
      {% if dokumentu.president_despacho is not null %}
      <a href="{% url 'pre_ba_admin' dokumentu.hashed %}">Forward to Vogal</a>
      {% endif %}
      {% endif %}
      {% if request.user.is_vogal %}
      <!-- Karik dokumentu ne'e la null ona ka halo ona despaixu  husi prezidente entaun forward ba diresaun -->
      {% if dokumentu.president_despacho is not null %}
      <a href="{% url 'vogal_ba_diresaun' dokumentu.hashed %}">Forward to Diresaun</a>
      {% endif %}
      {% endif %}
		</div>
		<div class="card-body">
			<div class="col-lg-12 mb-1 mb-1" style="color: #fff;background: #b5b9bd">
				<label>Asuntu Karta : </label>
			</div>
			<p class="editable" data-id="{{dokumentu.id}}" data-type="subject" data-url="{% url 'liveDocSave' %}">{{dokumentu.subject}}</p>
														
														
			<div class="col-lg-12 mb-1" style="color: #fff;background: #b5b9bd">
				<label>Entrega husi : </label>
			</div>
			<p class="editable" data-id="{{dokumentu.id}}" data-type="given_by" data-url="{% url 'liveDocSave' %}">{{dokumentu.given_by}}</p>

      <div class="col-lg-12 mb-1" style="color: #fff;background: #b5b9bd">
        <label>Destinu Karta : </label>
      </div>
      <p class="editable" data-id="{{dokumentu.id}}" data-type="destinu" data-url="{% url 'liveDocSave' %}">{{dokumentu.destinu}}</p>
			
      <div class="col-lg-12 mb-1" style="color: #fff;background: #b5b9bd">
        <label>Orijen Karta : </label>
      </div>
      <p class="editable" data-id="{{dokumentu.id}}" data-type="orijen" data-url="{% url 'liveDocSave' %}">{{dokumentu.orijen}}</p>

			<div class="col-lg-12 mb-1" style="color: #fff;background: #b5b9bd">
				<label>Simu husi : </label>
			</div>
			<p class="editable" data-id="{{dokumentu.id}}" data-type="recieve_by" data-url="{% url 'liveDocSave' %}">{{dokumentu.recieve_by}}</p>
			
			<!-- <div class="col-lg-12 mb-1" style="color: #fff;background: #b5b9bd">
				<label>Sub Kategoria : </label>
			</div>
			<p>{{dokumentu.sub_category}}</p> -->

      {% if request.user.is_vogal %}
      <div class="col-lg-12 mb-1" style="color: #fff;background: #b5b9bd">
        <label>Despacho : </label>
      </div>
      <p>{{dokumentu.president_despacho}}</p>

      <div class="col-lg-12 mb-1" style="color: #fff;background: #b5b9bd">
        <label>Despacho ba Diresaun : </label>
      </div>
      <p>{{dokumentu.president_despacho_diresaun}}</p>
      {% endif %}
      {% if request.user.is_director %}
      <div class="col-lg-12 mb-1" style="color: #fff;background: #b5b9bd">
        <label>Despacho : </label>
      </div>
      <p>{{dokumentu.president_despacho}}</p>

      <div class="col-lg-12 mb-1" style="color: #fff;background: #b5b9bd">
        <label>Despacho ba Diresaun : </label>
      </div>
      <p>{{dokumentu.president_despacho_diresaun}}</p>
      {% endif %}
      
			<!-- //card for pdf viewer -->
			<br>
			<br>
	<div class="panel-body">
	<div class="row">
		<div class="col-lg-12">
		<div class="panel mb-4">
                <div class="panel-body" style="height:500px">
			<div id="pdfviewer" style="height:100%"></div>
		</div>
        </div>
		</div>
		
	</div>
    </div>
	</div>
	<!-- //end card for pdf viewer -->
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">

	<script src="{% static '/js/pdfobject.js' %}"></script>
	<script>PDFObject.embed("{% static '' %}{{dokumentu.file_name}}", "#pdfviewer");</script>

			
															
		</div>
	</div>
	<!-- <div class="col-lg-2">
		<div class="card">
			<div class="card-header bg-success" align="center">
				<b class="text-white">Latest Docs</b>
			</div>
			<div class="card-body">
				<ul class="list-unstyled">
					{% for data in latest_docs %}
						<li style="font-size: 0.8rem;"><a href="{% url 'detail_doc' data.hashed %}"><i class="fa fa-angle-right"></i> {{data.doc_number}}</a></li>
					{% endfor %}
				</ul>
				
			</div>
		</div>
	</div> -->
</div>
</div>
</section>
  <div class="container-fluid" style="margin-top: -30px">
    <div class="row">
      <div class="col-lg-10">
        <div class="card">
          <div class="card-header bg-secondary text-center">Karta Traker</div>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="col-md-3">
                <div class="text-center border p-1">Administrasaun</div>
                <div class="p-3 text-center border">
                  {% if dokumentu.admin_viewed %}
                  <span class="badge badge-info text-light">&#10003</span>
                  {% else %}
                  <span class="text-muted">&#10003</span>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-center border p-1">Prezidente</div>
                <div class="p-3 text-center border">
                  {% if dokumentu.president_viewed %}
                  <span class="badge badge-info text-light">&#10003</span>
                  {% else %}
                  <span class="text-muted">&#10003</span>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-center border p-1">Vogal</div>
                <div class="p-3 text-center border">
                  {% if dokumentu.vogal_viewed %}
                  <span class="badge badge-info text-light">&#10003</span>
                  {% else %}
                  <span class="text-muted">&#10003</span>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-center border p-1">Diretor</div>
                <div class="p-3 text-center border">
                  {% if dokumentu.diretor_viewed %}
                  <span class="badge badge-info text-light">&#10003</span>
                  {% else %}
                  <span class="text-muted">&#10003</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
		<script type="text/javascript">
            $(document).ready(function () {
              // action when dobleclick  
              $(document).on("dblclick", ".editable", function () {
                var value = $(this).text();
                var input = "<input type='text' class='input-data form-control' value='"+value+"'>";
                $(this).html(input);
                $(this).removeClass("editable");
              });

              $(document).on("blur",".input-data",function () {
                var value = $(this).val();
                var p = $(this).parent("p");
                $(this).remove();
                p.html(value);
                p.addClass("editable");
                var type = p.data("type");
                sendToServer(p.data("id"),value,type);
              });
              // remove editable bainhira hanehan enter
              $(document).on("keypress",".input-data",function (e) {
                var key = e.which;
                if (key == 13) {
                  var value = $(this).val();
                  var p = $(this).parent("p");
                  $(this).remove();
                  p.html(value);
                  p.addClass("editable");
                  var type = p.data("type");
                  sendToServer(p.data("id"),value,type);
                }
              });
              // haruka data ba server ka database
              function sendToServer(id,value,type) {
                console.log(id);
                console.log(value);
                console.log(type);
                var $doc  = $('.editable');
                $.ajax({
                  url:$doc.data("url"),
                  type:"POST",
                  data:{id:id,type:type,value:value},
                })
                .done(function(response) {
                  console.log(response);
                })
                .fail(function(response) {
                  console.log("Error Ocurred");
                })
              }

            });
        </script>
{% endblock %}