{% load static %}
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
	
    <script src="{% static 'vendor/popper.js/umd/popper.min.js' %}"> </script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/charts-home.js' %}"></script>
    <script src="{% static 'js/charts-custom.js' %}"></script>

    <!-- Main File-->
    <script src="{% static 'js/front.js' %}"></script>

    <!-- File script ba notifikasaun karta sira -->
    <script src="{% static 'notif/notif_badge.js' %}"></script>
    <script src="{% static 'notif/notif_badge_karta_sai.js' %}"></script>
    <script src="{% static 'notif/notif_badge_karta_tama.js' %}"></script>
    <script src="{% static 'notif/notif_badge_responde_karta_tama.js' %}"></script>
    <script src="{% static 'notif/notif_badge_karta_sai_interna.js' %}"></script>

</script>